
<%= form_with(model: reviewer) do |form| %>
  <% if reviewer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reviewer.errors.count, "error") %> prohibited this reviewer from being saved:</h2>

      <ul>
        <% reviewer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id = "middle">
  <div id = "midrow1">
      <div id = "foto">
          <div id = "image">
            <% if @reviewer.profile_picture != nil %>
                <img src="<%= url_for(@reviewer.profile_picture)%>" alt="PP" width="250" height="250"> 
                <br><br>
            <% end %>
            <%= form.file_field :profile_picture, direct_upload: false,  accept:"image/*" %>     
          </div>

      </div>
      <div id = "labels">
          <div id = "username" class = "form-group">
            <%= form.label :username, style: "display: block" %>
            <%= form.text_field :username, :class => "form-control" %>
          </div>
          <div id = "email" class = "form-group">
            <%= form.label :email, style: "display: block" %>
            <%= form.text_field :email, :class => "form-control" %>
          </div>
          <div id = "tel_div" class = "form-group">
            <%= form.label :telephone_number, "Telefono", style: "display: block" %>
            <%= form.text_field :telephone_number, :class => "form-control", :placeholder => "Inserisci numero" %>
          </div>
      </div>
      <div id = "description">
      
          <div id = "desc_text">
          
            <%= form.label :description, "Descrizione ", style: "display: block" %>
            <%= form.text_field :description, :class => "form-control", :placeholder => "Inserisci descrizione" %>
          
          </div>
      </div>
  </div>
  <div id = "midrow2">
      <div id = "save_btn">
            <%= form.submit "Salva", :class => "btn btn-success"%>
      </div>
      <div id = "cancel_btn">
        <%= link_to "Annulla modifiche", current_reviewer, :class => "btn btn-success" %>
      </div>
  </div>
  </div>




<% end %>
