<div id="<%= dom_id reviewer %>">

    UTENTE RECENSORE<br>
    ID:<%= reviewer.id %><br>
    USERNAME:<%= reviewer.username %><br>
    TEL:<%= reviewer.telephone_number%><br>
    EMAIL:<%= reviewer.email %><br>  
    <div>
        <% if reviewer.profile_picture.attached? %>
            PROFILE PIC:
            <img src="<%= url_for(reviewer.profile_picture)%>" alt="PP" width="100" height="100">
        <%end %>
    </div>
</div>
