<div id="<%= dom_id reviewer %>">

    UTENTE RECENSORE<br>
    ID:<%= reviewer.id %><br>
    USERNAME:<%= reviewer.username %><br>
    TEL:<%= reviewer.telephone_number%><br>
    EMAIL:<%= reviewer.email %><br>  

</div>
