<%#= render @reviewer %>
<%= stylesheet_link_tag "recensore.css" %>

<div id = "middle">
        <div id = "foto">
            <div id = "image">
                <%#=da controllare questo if%>
                <% if @reviewer.profile_picture.attached? %>
                    <img src="<%= url_for(@reviewer.profile_picture)%>" alt="PP" width="250" height="250" id="profile_picture"> 
                <% end %>
            </div>
                <div id = "image_lbl">
                 Foto profilo
                </div>
        </div>
        <div id = "user_desc">
            <div id = "username">
                <div id = "user_lbl">
                Username:&nbsp<span id = "name_lbl"><%= @reviewer.username %></span>
                </div>
            </div>
            <div id = "description">
                <%= @reviewer.description%>
            </div>
        </div>
        <div id = "modify">
            <div id = "profile_div">
              <%= link_to "Modifica profilo", edit_reviewer_path(@reviewer), :class => "btn btn-success", :id => "profile_btn" %>
            </div>
        </div>
    </div>


    <div id = "midbottom_lbl"> Le tue recensioni </div>
    <div id = "midbottom">
        <div id = "bottom_row">
            <% (Review.all).each do |review|%>
                <% if review.reviewer_id == @reviewer.id %>
                <div id = "recensione_tipo">
                    <div id = "recensione_text">"<%=review.description%>"</div>
                    <div id = "recensione_info">sul piatto <%=review.dish_id%> del ristorante <%=Restaurant.find(Dish.find(review.dish_id).restaurant_id).name%></div>
                    <div id = "recensione_btn">
                        <div id = "mod_div">
                            <%= link_to "Mostra", review_path(review), :class => "btn btn-success" %>
                        </div>
                        <% if (current_reviewer) and (review.reviewer_id == current_reviewer.id) %>
                        <div id = "del_div">
                            <%= button_to "Elimina", @review, method: :delete, :class => "btn btn-danger btn-responsive" %>
                        </div>
                        <%else%>
                            <div id = "del_div">
                                <%= link_to "Segnala", new_report_path, :class => "btn btn-danger"%>
                            </div>
                        <%end%>
                    </div>
                </div>
                <%end%>
            <%end%>
        </div>
    </div>
  </div>


