<%#= render @reviewer %>
<%= stylesheet_link_tag "recensore.css" %>

<div id = "middle">
        <div id = "foto">
            <div id = "image">
                <%#=da controllare questo if%>
                <% if @reviewer.profile_picture.attached? %>
                    <img src="<%= url_for(@reviewer.profile_picture)%>" alt="PP" width="250" height="250" id="profile_picture"> 
                <% end %>
            </div>
                <div id = "image_lbl">
                 Foto profilo
                </div>
        </div>
        <div id = "user_desc">
            <div id = "username">
                <div id = "user_lbl">
                Username:&nbsp<span id = "name_lbl"><%= @reviewer.username %></span>
                </div>
            </div>
            <div id = "description_div">
                <div id ="description_lbl">Descrizione dell'utente:&nbsp</div>
                <div id = "description">&nbsp<%= @reviewer.description%>&nbsp</div>
            </div>
        </div>
        <div id = "modify">
            <%if (reviewer_signed_in?) and (@reviewer == current_reviewer)%>
                <div id = "profile_div">
                    <%= link_to "Modifica profilo", edit_reviewer_path(@reviewer), :class => "btn btn-success", :id => "profile_btn" %>
                </div>
            <%end%>
        </div>
    </div>


    <div id = "midbottom_lbl"> Le tue recensioni </div>
    <div id = "midbottom">
        <div id = "bottom_row">
            <% (Review.all).each do |review|%>
                <% if review.reviewer_id == @reviewer.id %>
                <div id = "recensione_tipo">
                    <div id = "recensione_ratings">
                        <div id = "rtg1" class = "rtg">Gusto: <%=review.rating1%>/5</div>
                        <div id = "rtg2" class = "rtg">Impiattamento: <%=review.rating2%>/5</div>
                        <div id = "rtg3" class = "rtg">Originalità: <%=review.rating3%>/5</div>
                    </div>
                    <div id = "recensione_info">&nbspsul piatto <%=Dish.find(review.dish_id).name%> del ristorante <%=Restaurant.find(Dish.find(review.dish_id).restaurant_id).name%>&nbsp</div>
                    <div id = "recensione_btn">
                        <div id = "show_div">
                            <%= link_to "Mostra", review_path(review), :class => "btn btn-success", :id => "show_btn" %>
                        </div>
                        <% if (current_reviewer) and (review.reviewer_id == current_reviewer.id) %>
                        <div id = "del_div">
                            <%= button_to "Elimina", @review, method: :delete, :class => "btn btn-danger", :id => "del_btn" %>
                        </div>
                        <%elsif (reviewer_signed_in?)or(restaurant_signed_in?)%>
                            <div id = "del_div">
                                <%= link_to "Segnala", new_report_path, :class => "btn btn-danger", :id => "report_btn"%>
                            </div>
                        <%else%>
                            <div id = "del_div">
                                <%= link_to "Segnala", new_reviewer_session_path, :class => "btn btn-danger", :id => "report_btn"%>
                            </div>
                        <%end%>
                    </div>
                </div>
                <%end%>
            <%end%>
        </div>
    </div>
  </div>


