<%#= render @reviewer %>
<%= stylesheet_link_tag "recensore.css" %>

<div id = "middle">
        <div id = "foto">
            <div id = "image">
                <%#=da controllare questo if%>
                <% if @reviewer.profile_picture != nil %>
                    <img src="<%= url_for(@reviewer.profile_picture)%>" alt="PP" width="100" height="100"> 
                <% end %>
            </div>
                <div id = "image_lbl"> foto profilo
            </div>
        </div>
        <div id = "user_desc">
            <div id = "username"> Username: <%= @reviewer.username %> </div>
            <div id = "description">
                <p>   <%= @reviewer.description%>   <p>
            </div>
        </div>
        <div id = "modify">
            <div id = "profilo_btn">
              <%= link_to "Modifica profilo", edit_reviewer_path(@reviewer), :class => "btn btn-success" %>
            </div>
        </div>
    </div>
    <div id = "midbottom">
        <div id = "bottom_row1">
            <div id = "bottom_lbl"> Le tue recensioni: </div>
        </div>
        <%#=i è il limite di print di recensioni%>
        <%i = 0%>

        <%(Review.all).each do |review|%>
            <%if(review != nil) and (review.reviewer_id == @reviewer.id) and (i < 5) %>
                <%=render review%>
                <!--<div id = "bottom_row2">
                    <div id = "recensione_tipo">
                        <div id = "recensione_text">
                            <%=render review%> </div>
                        <div id = "recensione_btn">
                            <div id = "mod_div">
                                <div id = "mod_btn" class = "btn btn-success btn-responsive">Modifica</div>
                            </div>
                            <div id = "del_div">
                                <div id = "del_btn" class = "btn btn-success btn-responsive">Cancella</div>
                            </div>
                        </div>
                    </div>
                </div> -->
            <%i += 1%>
            <%end%>
        <%end%>


    </div>
  </div>


