<%= stylesheet_link_tag "ricerca_piatto.css"%>

<div id = "middle">
    
    <% @temp1 %>
    <% if params[:category] == "0" %>
        <% @temp1 = "Antipasti" %>
    <% elsif params[:category] == "1"%>
        <% @temp1 = "Primi" %>
    <% elsif params[:category] == "2"%>
        <% @temp1 = "Secondi" %>
    <% elsif params[:category] == "3"%>
        <% @temp1 = "Dolci" %>
    <%end%>

        <div id = "searches">
            <%if params[:category] != nil%>
                <div class = "search_infos"> Risultati ricerca "<%= @temp1 %>" : </div>
                <% (Dish.all).each do |dish| %>
                    <%if dish.category == params[:category].to_i %>
                        <% render dish%>
                        <div class = "dish_container">
                            <div class = "col_1">
                                <div id = "foto_piatto" class="carousel carousel-fade" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <% i = 0 %>
                                        <% while dish.images[i] != nil%>
                                            <% if (i == 0) %>
                                                <div class="carousel-item active">
                                            <% else %>
                                                <div class="carousel-item">
                                            <% end %>
                                            <img src="<%= url_for(dish.images[i])%>" alt="foto_piatto" class="dish_pic">
                                            <%i += 1%>
                                            </div>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                            <div class = "col_2">
                                <div class = "dish_name"><%= dish.name%></div>
                                <div class = "dish_rest">Ristorante : <%= dish.restaurant.name%></div>
                                <div class = "dish_price">Prezzo : <%= dish.price%>€</div>
                                <div class = "dish_desc">Descrizione : <%= dish.description%></div>
                                <%if reviewer_signed_in?%>  
                                    <div class = "btns">
                                        <div class = "div_show"><%= link_to "Mostra piatto", dish, :class => "btn btn-success", :id => "show_btn" %></div>                                  
                                        <div class = "div_review"><%= link_to "Lascia recensione", new_review_path, :class => "btn btn-warning", :id =>"review_btn" %></div>
                                    </div>
                                <%elsif restaurant_signed_in?%>
                                    <div class = "btns_rev">
                                        <div class = "div_show"><%= link_to "Mostra piatto", dish, :class => "btn btn-success", :id => "show_btn" %></div>                                  
                                    </div>
                                <%else%>
                                    <div class = "btns">
                                        <div class = "div_show"><%= link_to "Mostra piatto", dish, :class => "btn btn-success", :id => "show_btn" %></div>                                  
                                        <div class = "div_review"><%= link_to "Lascia recensione", new_reviewer_session_path(flash_alert: "Devi prima accedere come recensore") , :class => "btn btn-warning", :id =>"review_btn" %></div>
                                    </div>
                                <%end%>
                            </div>
                        </div> 
                    <%end%>

                <% end %>

            <%else%>
                <div class = "search_infos">Parametri ricercati: <%= params[:form_input].to_s %></div> 
                
                <%if params[:form_input].to_s != "" %>
                    <%#https://stackoverflow.com/questions/2220423/case-insensitive-search-in-rails-model%>

                    <%if params[:sort] != nil%>
                        <% @get_dish = Dish.where("lower(name) LIKE ?","#{params[:form_input].downcase}%" ).order(params[:sort]) %>
                    <%else%>
                        <% @get_dish = Dish.where("lower(name) LIKE ?","#{params[:form_input].downcase}%" ) %>
                    <% end %>
                
                    <% render @get_dish%>
                
                    <% @get_dish.each do |dish|%>
                        <div class = "dish_container">
                            <div class = "col_1">
                                <div id = "foto_piatto" class="carousel carousel-fade" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <% i = 0 %>
                                        <% while dish.images[i] != nil%>
                                            <% if (i == 0) %>
                                                <div class="carousel-item active">
                                            <% else %>
                                                <div class="carousel-item">
                                            <% end %>
                                            <img src="<%= url_for(dish.images[i])%>" alt="foto_piatto" class="dish_pic">
                                            <%i += 1%>
                                            </div>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                            <div class = "col_2">
                                <div class = "dish_name">Nome : <%= dish.name%></div>
                                <div class = "dish_rest">Ristorante : <%= dish.restaurant.name%></div>
                                <div class = "dish_price">Prezzo : <%= dish.price%>€</div>
                                <div class = "dish_desc">Descrizione : <%= dish.description%></div>
                                <%if reviewer_signed_in?%>  
                                    <div class = "btns">
                                        <div class = "div_show"><%= link_to "Mostra piatto", dish, :class => "btn btn-success", :id => "show_btn" %></div>                                  
                                        <div class = "div_review"><%= link_to "Lascia recensione", new_review_path, :class => "btn btn-warning", :id =>"review_btn" %></div>
                                    </div>
                                <%elsif restaurant_signed_in?%>
                                    <div class = "btns_rev">
                                        <div class = "div_show"><%= link_to "Mostra piatto", dish, :class => "btn btn-success", :id => "show_btn" %></div>                                  
                                    </div>
                                <%else%>
                                    <div class = "btns">
                                        <div class = "div_show"><%= link_to "Mostra piatto", dish, :class => "btn btn-success", :id => "show_btn" %></div>                                  
                                        <div class = "div_review"><%= link_to "Lascia recensione", new_reviewer_session_path(flash_alert: "Devi prima accedere come recensore") , :class => "btn btn-warning", :id =>"review_btn" %></div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    <% end %>
                
                <%end%>

                <%#= link_to "Refresh", url_for(""), method: :get %>
                <%#= button_to search_search_dish_path, method: :get %>
                
            <%end%>
        </div>

        <div id = "search_opts">
            <%= render  "search/form" %>
        </div>
</div>