<%= stylesheet_link_tag "cambia_pwd.css"%>
<div id = "middle">
  <div class = "form_change_pwd">
  <div class = "change_pwd">Cambia la tua password</div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "Nuova password" %>
      <% if @minimum_password_length %>
        <div id = "length_label">( minimo <%= @minimum_password_length %> caratteri)</div>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", required: "true" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Conferma nuova password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: "true" %>
    </div>

    <div class="actions">
      <%= f.submit "Conferma", class: "btn btn-success btn-responsive" %>
    </div>
  <% end %>
</div>

  <%#= render "devise/shared/links" %>
