<%= stylesheet_link_tag "recupera_pwd.css"%>
<div id = "middle">
  <div class = "frgt_pwd">Password dimenticata?</div>
  <div class = "form_reset_pwd">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Invia le istruzioni per il reset", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<%#= render "devise/shared/links" %>
