<h1>Home#index</h1>
<% if reviewer_signed_in? %>
<%= current_reviewer.id %>
<%= Reviewer.find(current_reviewer.id).name %>
<%= button_to "logout", destroy_reviewer_session_path, method: :delete  %>
<%else%>
<%= button_to "Sign in", new_reviewer_session_path %>
<%= link_to "Sign up", new_reviewer_registration_path %>
<p>Find me in app/views/home/index.html.erb</p>
<%end%>