<div id="<%= dom_id dish %>">
  <p>
    <strong>Name:</strong>
    <%= dish.name %>
  </p>

  <p>
    <strong>Number of reviews:</strong>
    <%= dish.number_of_reviews %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= dish.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= dish.category %>
  </p>

  <p>
    <strong>Avg rating:</strong>
    <%= dish.avg_rating %>
  </p>

  <p>
    <strong>Imgs:</strong>
    <%= dish.imgs %>
  </p>

</div>
