<div id="<%= dom_id dish %>">

  ID: <%= dish.id %><br>
  NAME: <%= dish.name %><br>
  CATEGORY: <%= dish.category %><br>
  AVG_RATING: <%= dish.avg_rating%><br>
  RESTAURANT: <%= Restaurant.find(dish.restaurant_id).name %><br>
  RESTAURANT ID: <%= dish.restaurant_id %><br>
  PRICE: <%= dish.price %><br>
  <%session[:save_dish] = dish.id%>
    
</div>
