<div id="<%= dom_id dish %>">

  ID: <%= dish.id %><br>
  NAME: <%= dish.name %><br>
  CATEGORY: <%= dish.category %><br>
  AVG_RATING: <%= dish.avg_rating%><br>
  <%if dish.restaurant_id != nil %>
    RESTAURANT: <%= Restaurant.find(dish.restaurant_id).name %><br>
  <%end%>
  RESTAURANT ID: <%= dish.restaurant_id %><br>
  PRICE: <%= dish.price %><br>
  DESCRIPTION: <%= dish.description %><br>
  INGREDIENTS: <%= dish.ingredients %><br>
  <%if dish.images[0] != nil%>

    FOTO:  
    <% i = 0 %>
    <% while dish.images[i] != nil%>
        <img src="<%= url_for(dish.images[i])%>" alt="foto_piatto" width="300" height="300">
        <%i += 1%>
    <%end%>
    <br>
    <%session[:save_dish] = dish.id%>

  <%end%>
</div>
