<%= stylesheet_link_tag "general_tags.css" %>
<%= stylesheet_link_tag "modPiatto.css" %>

<%= form_with(model: dish) do |form| %>
  <% if dish.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
        <% dish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id = "middle">

  <div id = "row_m1">

    <div id = "col_m1">
      <div class = "field_div">
        <%= form.label :imgs, style: "display: block" %>
        <%= form.text_field :imgs %>
      </div>
      <div class = "field_div">
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
      </div>
      <div class = "field_div">
        <%= form.label :description, style: "display: block" %>
        <%= form.text_field :description %>
      </div>
    </div>

    <div id = "col_m2">
      <div class = "field_div">
        <%= form.label :category, style: "display: block" %>
        <%= form.number_field :category ,in: 0..3 %>
      </div>
      <div class = "field_div">
        <%= form.label :price, style: "display: block" %>
        <%= form.text_field :price %>
      </div>
      
      <div class = "field_div">
        <%= form.label :ingredients, style: "display: block" %>
        <%= form.text_field :ingredients %>
      </div>

      <!--
      <div>
        <% form.label :number_of_reviews, style: "display: block" %>
        <%= form.number_field :number_of_reviews, value: 0, type: :hidden %>
      </div>

      <div>
        <% form.label :avg_rating, style: "display: block" %>
        <%= form.text_field :avg_rating, value: 0, type: :hidden %>
      </div>
      -->

    </div>
  </div>

  <div id = "row_m2">
    <div>
        <%= link_to "Annulla", current_restaurant, :class => "btn btn-danger"%>
        <%= form.submit "Conferma", :class => "btn btn-success" %>
      </div>
    <% end %>
  </div>

</div>