<p style="color: green"><%= notice %></p>

<h1>Dishes</h1>
<%if restaurant_signed_in?%>

  <div id="dishes">
    <% @dishes.each do |dish| %>
      <%if dish.restaurant_id == current_restaurant.id %>
        <%= render dish %>
        <p> <%= link_to "Show this dish", dish %> </p> 
      <%end%>
    <% end %>
  </div>

  <%= link_to "New dish", new_dish_path %>

<%#elsif reviewer_signed_in?%>

<%else%>
  DEVI LOGGARE 
  <br>
  <%= link_to "Log in", new_session_path("restaurant") %><br />

<%end%>
