<%= stylesheet_link_tag "modPiatto.css"%>
<div id = "middle">
  <%if restaurant_signed_in?%>
    <%= form_for(@dish) do |f| %>
      <div id = "row_m1">
      
      <div id = "col_m1">
        <div class = "field_div">
          <%= f.file_field :images, multiple: true, direct_upload: false %>  
          <!-- implementare nel lato backend -->
        </div>
        <div class = "field_div">
          <% f.label :name %>Nome
          <%= f.text_field :name, autofocus: true, autocomplete: "name", :id => "name_dish" %>
        </div>
        <div class = "field_div">
          Descrizione
          <%= f.text_field :description, autofocus: true, autocomplete: "description", :id => "description_dish" %>
          <!-- implementare nel lato backend -->
        </div>  
      
      </div>

      <div id = "col_m2">
        <div class = "field_div">
          <% f.label :category %>Categoria<br>
          <%= f.select :category, [ ["Antipasti", "0"], ["Primi", "1"], ["Secondi", "2"], ["Dolci", "3"] ], autofocus: true, autocomplete: "category" %>
        </div>
        <div class = "field_div">
          <% f.label :price %>Prezzo<br>
          <%= f.text_field :price, autofocus: true, autocomplete: "price", :id => "price_dish" %>
        </div>  
        <div class = "field_div">Ingredienti:<br>
          <%= f.text_field :ingredients, autofocus: true, autocomplete: "ingredients", :id => "ingredients_dish" %>
        </div>  
      </div>
    
    </div>

      <!-- <%= current_restaurant.id%> -->
      <div class="field">
        <%= f.hidden_field :avg_rating, value: 0 %>
        <%= f.hidden_field :number_of_reviews, value: 0 %>
        <%= f.hidden_field :restaurant_id, value: current_restaurant.id%>
      </div>
    <div id = "row_m2">
      <div>
          <%= link_to "Annulla", current_restaurant, :class => "btn btn-danger" %>
          <%= f.submit "Conferma", :class => "btn btn-success"%>
      </div>
    </div>
    
    <% end %>

    <br>

  <%elsif reviewer_signed_in? %>
    DEVI LOGGARE COME RISTORANTE PER POTER AGGIUNGERE PIATTI!
  <%else%>
    DEVI LOGGARE!
  <%end%>
</div>
