<h1>New dish</h1>
<%if restaurant_signed_in?%>

  <%= form_for(@dish) do |f| %>
    <br>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price, autofocus: true, autocomplete: "price" %>
    </div>

    <div class="field">
      <%= f.label :category %><br>
      <%= f.select :category, ["1", "2", "3"], autofocus: true, autocomplete: "category" %>
      <%#= f.text_field :category, autofocus: true, autocomplete: "category" %>
    </div>  

    <%= current_restaurant.id%>
    
    <div class="field">
      <%= f.hidden_field :avg_rating, value: 0 %>
      <%= f.hidden_field :number_of_reviews, value: 0 %>
      <%= f.hidden_field :restaurant_id, value: current_restaurant.id%>
      
    </div>
    

    <br>
    
    <div class="actions">
      <%= f.submit "conferma" %>
    </div>

  <% end %>

  <br>

  <div>
    <%= link_to "Back to dishes", dishes_path %>
  </div>

<%elsif reviewer_signed_in? %>
  DEVI LOGGARE COME RISTORANTE PER POTER AGGIUNGERE PIATTI!
<%else%>
  DEVI LOGGARE!
<%end%>
