<div id = "middle_dish">
  <%if restaurant_signed_in?%>
    <%= form_for(@dish) do |f| %>
      <div id = "row1">
      <div class = "mid_col">
        <div class="field">
          <% f.label :name %>Nome<br>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
        <div id = "upload_photos">
          <input type="file" class = "form-control-file">
        </div>
        <div id = "dish_description">Descrizione:<br>
          <textarea id = "dish_txtarea" placeholder = "Inserire descrizione"></textarea>
        </div>  
      </div>

      <div class = "mid_col">
        <div class="field">
          <% f.label :category %>Categoria<br>
          <%= f.select :category, ["1", "2", "3"], autofocus: true, autocomplete: "category" %>
          <%#= f.text_field :category, autofocus: true, autocomplete: "category" %>
        </div>
        <div class="field">
          <% f.label :price %>Prezzo<br>
          <%= f.text_field :price, autofocus: true, autocomplete: "price" %>
        </div>  
        <div id = "ingredients">Ingredienti:<br>
          <textarea id = "ingredients_txtarea", placeholder = "Inserire ingredienti"></textarea>
        </div>  
      </div>
      </div>

      <!-- <%= current_restaurant.id%> -->
      <!-- 
      <div class="field">
        <%= f.hidden_field :avg_rating, value: 0 %>
        <%= f.hidden_field :number_of_reviews, value: 0 %>
        <%= f.hidden_field :restaurant_id, value: current_restaurant.id%>
      </div>
      -->
    <div class = "row2">
      <div>
          <%= link_to "Back to dishes", dishes_path, :class => "btn btn-danger" %>
      </div>
      <div class="actions">
        <%= f.submit "conferma" %>
      </div>
    </div>
    
    <% end %>

    <br>

  <%elsif reviewer_signed_in? %>
    DEVI LOGGARE COME RISTORANTE PER POTER AGGIUNGERE PIATTI!
  <%else%>
    DEVI LOGGARE!
  <%end%>
</div>
