<!--
<p style="color: green"><%= notice %></p>

<%= render @dish %>

<%= link_to "Back to dishes", dishes_path %>

<%if restaurant_signed_in? %>
  <%if current_restaurant.id == @dish.restaurant_id%>
    <div>
      <%= link_to "Edit this dish", edit_dish_path(@dish) %> 
      <%= button_to "Destroy this dish", @dish, method: :delete %>
    </div>
  <%end%>
<%end%>

<br><p>--------------</p> 
<%#counter risulta come stringa...%>
<%@counter = 0.to_s%>

<%if reviewer_signed_in? %>
  <div id="dishes">
    LISTA RECENSIONI: <br>
    <p>--------------</p> 
    
    RECENSIONI DI ALTRI UTENTI:<br>
    <% (Review.all).each do |review| %>
      <%if @dish.id == review.dish_id  && review.reviewer_id != current_reviewer.id%>
        <%= render review %>
        <p>--------------</p>
      <%end%>
    <% end %>

    
    <% (Review.all).each do |review| %>
      <%#if @dish.id == review.dish_id  && review.reviewer_id == current_reviewer.id%>
        LA TUA RECENSIONE:<br>
        <%#@counter = 1.to_s%>
        <%#= render review %>
        <%#= link_to "Edit this review", edit_review_path(review) %>
        <%#= button_to "Destroy this review", review, method: :delete %>
        <p>--------------</p>
      <%#end%>
    <% end %>

    <p>--------------</p>

  <%if @counter == 0.to_s%>
    <%= link_to "CREA NUOVA RECENSIONE", new_review_path %><br>
  <%end%>
    
  <p> <%#= link_to "Show this dish", @dish %> </p> 

  </div>

<%end%>
-->

<%= stylesheet_link_tag "piatto.css" %>

 <div id = "middle">
        <div id = "col1">
            <div id = "foto_piatto" class="carousel carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% i = 0 %>
                    <% while @dish.images[i] != nil%>
                        <% if (i == 0) %>
                            <div class="carousel-item active">
                        <% else %>
                            <div class="carousel-item">
                        <% end %>
                        <img src="<%= url_for(@dish.images[i])%>" alt="foto_piatto" id="dish_pic">
                        <%i += 1%>
                        </div>
                    <%end%>
                </div>
            </div>
            <div id = "actions">

            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>

            <!-- Your share button code -->
            <div class="fb-share-button" 
            data-href="https://tasteadvisor.herokuapp.com/dishes/1" 
            data-layout="button_count">
            </div>

                <%if reviewer_signed_in?%>
                    <div id = "review"><%= link_to "Lascia recensione", new_review_path, :class => "btn btn-warning btn-custom" %><br></div>
                <%elsif restaurant_signed_in?%>
                    <!-- Alert passato come parametro alla richiesta url di ricaricamento della pagina-->
                    <div id = "review"><%= link_to "Lascia recensione", dish_path(@dish.id, flash_alert: "Non puoi recensire un piatto perchè non sei un recensore"), :class => "btn btn-warning btn-custom"%><br></div>
                    <% flash.now[:alert] = params[:flash_alert] if params[:flash_alert] %>
                <%else%>
                    <div id = "review"><%= link_to "Lascia recensione", new_reviewer_session_path(flash_alert: "Devi prima accedere come recensore"), :class => "btn btn-warning btn-custom" %><br></div>
                <%end%>
                <div id = "report">
                    <%if reviewer_signed_in? %>
                        <%= form_with url: new_report_path, method: :get do |form| %>
                            <%= form.hidden_field :report_id, value: @dish.id%>
                            <%= form.hidden_field :report_type, value:"dish"%>
                            <%= submit_tag "Segnala", :class => "btn btn-danger btn-custom" %>
                        <% end  %>
                    <%elsif (restaurant_signed_in?) and (current_restaurant == @dish.restaurant)%>
                        <%= link_to "Segnala", dish_path(@dish.id, flash_alert: "Non puoi segnalare un tuo piatto"), :class => "btn btn-danger btn-custom" %>
                        <% flash.now[:alert] = params[:flash_alert] if params[:flash_alert] %>
                    <%elsif (restaurant_signed_in?) and (current_restaurant != @dish.restaurant)%>
                        <%= link_to "Segnala", dish_path(@dish.id, flash_alert: "Non puoi segnalare un piatto perchè non sei un recensore"), :class => "btn btn-danger btn-custom" %>
                        <% flash.now[:alert] = params[:flash_alert] if params[:flash_alert] %>
                    <%else%>
                        <%= link_to "Segnala", new_reviewer_session_path(flash_alert: "Devi prima accedere"), :class => "btn btn-danger btn-custom" %>
                    <%end%>
                </div>
            </div>
        </div>
        <div id = "col2">
            <div id = "plate_desc">
                <div id = "det_col1">
                    <div id = "plate_name"><%= @dish.name %></div>
                    <div id = "category">
                        <label id = "category_label">Categoria: </label>
                        <div id = "result"> <%= @dish.category%></div>
                    </div>
                    <div id = "rating">
                        <label id = "rating_label">Rating: </label>
                        <div id = "rating_score" class = "rating_score">
                            <div class = "value" id = "rating_value"> <%= @dish.avg_rating.round(2) %>/5</div>
                            <div class = "pb" id = "rating_pb">
                                <div class = "progress">
                                    <div class = "progress-bar progress-bar-striped bg-info" role = "progressbar" style="width: <%= @dish.avg_rating*20%>%" aria-valuenow="<%= @dish.avg_rating*20 %>" aria-valuemin="0" aria-valuemax="20"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id = "det_col2">
                    <%if (@dish.restaurant_id != nil)%>
                    <% username = Restaurant.find(@dish.restaurant_id).username %>
                    <div id = "restaurant">Ristorante : <%= link_to username, restaurant_path(@dish.restaurant_id) %></div>
                    <%end%>
                    <div id = "price"> Prezzo : <%= @dish.price %> €</div>
                </div>
            </div>
            <div id = "reviews">
                <div id = "review_label"> Recensioni: <%= @dish.number_of_reviews %></div>
                <div id = "reviews_list">
                    <% (Review.all).each do |review| %>
                        <%if @dish.id == review.dish_id %>
                        <%= link_to review_path(review) do %>
                            <div class ="review">
                            <div class="img_review">
                                <img class = "reviewer_img" src="<%= url_for(Reviewer.find(review.reviewer_id).profile_picture)%>" alt="Immagine del recensore">
                            </div>
                            <div class="review_info">
                                <div class="username_and_rating">
                                    <div >
                                        <%=Reviewer.find(review.reviewer_id).username%>
                                    </div>
                                    <div class = "rating_score">
                                        <div class = "value" id = "rating_value">
                                            <%= @avg_rate = ((review.rating1 + review.rating2 + review.rating3)/3) %>/5
                                        </div>
                                        <div class = "pb" id = "rating_pb">
                                            <div class = "progress">
                                                <div class = "progress-bar progress-bar-striped bg-info" role = "progressbar" style="width: <%= @avg_rate.round(2) * 20%>%" aria-valuenow="<%= @avg_rate.round(2) * 20%>" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "rev_text">
                                    <%= review.description %>
                                </div>
                            </div>
                        </div>
                        
                        <%end%>
                        <%end%>
                <% end %>
                </div>
            </div>
        </div>
    </div>
