<!--
<p style="color: green"><%= notice %></p>

<%= render @dish %>

<%= link_to "Back to dishes", dishes_path %>

<%if restaurant_signed_in? %>
  <%if current_restaurant.id == @dish.restaurant_id%>
    <div>
      <%= link_to "Edit this dish", edit_dish_path(@dish) %> 
      <%= button_to "Destroy this dish", @dish, method: :delete %>
    </div>
  <%end%>
<%end%>


<%if reviewer_signed_in? %>
  <div id="dishes">
    LISTA RECENSIONI:
    <% (Review.all).each do |review| %>
      <%if @dish.id == review.dish_id %>
        <%= render review %>
        <p> <%#= link_to "Show this dish", @dish %> </p> 
      <%end%>
    <% end %>
  </div>
  <%#SI PUO' METTERE SOLO UNA RECENSIONE PER PIATTO DEL RISTORANTE?, da controllare%>
  <%#l'if è sbagliato%>
    <% (Review.all).each do |review| %>
      <%if @dish.id == review.dish_id  && review.reviewer_id == current_reviewer.id%>
        <%#= link_to "LA TUA RECENSIONE", review %><br>
        LA TUA RECENSIONE: <%=render review%>
        <%#= link_to "LA TUA RECENSIONE", review %><br>
      <%elsif !(@dish.id == review.dish_id  && review.reviewer_id == current_reviewer.id)%>
        <%= link_to "CREA NUOVA RECENSIONE", new_review_path %><br>
      <%end%>
    <% end %>
    
<%end%>
-->

<%= stylesheet_link_tag "piatto.css" %>

 <div id = "middle">
        <div id = "col1">
            <div id = "foto_piatto">
                IMMAGINE - TODO
                <!-- necessaria immagine -->
            </div>
            <div id = "actions">
                <div id = "review"><%= link_to "Lascia recensione", new_review_path, :class => "btn btn-warning" %><br></div>
                <div id = "report" class = "btn btn-danger">Segnala</div>
            </div>
        </div>
        <div id = "col2">
            <% render @dish %>
            <% @reviews = 0 %>
            <% @avg_rate = 0.0 %>
            <% (Review.all).each do |review| %>
                <%if @dish.id == review.dish_id %>
                    <% @reviews = @reviews + 1 %>
                    <% @avg_rate = @avg_rate + ((review.rating1 + review.rating2 + review.rating3)/3)%> 
                <%end%>
                <% @avg_rate = @avg_rate / @reviews %>
            <% end %>

            <div id = "plate_desc">
                <div id = "det_col1">
                    <div id = "plate_name"><%= @dish.name %></div>
                    <div id = "category">
                        <label id = "category_label">Categoria: </label>
                        <div id = "result"> <%= @dish.category%></div>
                    </div>
                    <div id = "rating">
                        <label id = "rating_label">Rating: </label>
                        <div id = "rating_score" class = "rating_score">
                            <div class = "value" id = "rating_value"> <%= @avg_rate.round(1) %></div>
                            <div class = "pb" id = "rating_pb">
                                <div class = "progress">
                                    <!-- DA VEDERE CON RECENSIONI <div class = "progress-bar progress-bar-striped bg-info" role = "progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div> -->
                                    <div class = "progress-bar progress-bar-striped bg-info" role = "progressbar" style="width: <%= @avg_rate*20%>%" aria-valuenow="<%= @avg_rate*20 %>" aria-valuemin="0" aria-valuemax="20"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id = "det_col2">
                    <%if (@dish.restaurant_id != nil)%>
                    <div id = "restaurant">Ristorante : <%= Restaurant.find(@dish.restaurant_id).name %></div>
                    <%end%>
                    <div id = "price"> Prezzo : <%= @dish.price %> €</div>
                </div>
            </div>
            <div id = "reviews">
                <div id = "review_label"> Recensioni: <%= @reviews %></div>
                <% (Review.all).each do |review| %>
                    <%if @dish.id == review.dish_id %>
                        <div id = "review_" class ="review">
                        <div id = "img_" class="img_review">
                            <img src="..." alt="Immagine del recensore">
                        </div>
                        <div id ="review_info_" class="review_info">
                            <div id = "username_and_rating_" class="username_and_rating">
                                <div id = "username_">
                                    <%=Reviewer.find(review.reviewer_id).username%>
                                </div>
                                <div id = "rating_no1" class = "rating_score">
                                    <div class = "value" id = "rating_value">
                                        <%= @avg_rate = ((review.rating1 + review.rating2 + review.rating3)/3) %>
                                    </div>
                                    <div class = "pb" id = "rating_pb">
                                        <div class = "progress">
                                            <div class = "progress-bar progress-bar-striped bg-info" role = "progressbar" style="width: <%= @avg_rate.round(2) * 20%>%" aria-valuenow="<%= @avg_rate.round(2) * 20%>" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id = "rev_text_no" class = "rev_text">
                                DESCRIZIONE - TODO
                            </div>
                        </div>
                    </div>
                    
                    <%end%>
                <% @avg_rate = @avg_rate / @reviews %>
            <% end %>
            </div>
        </div>
    </div>
    <%= link_to "Back to dishes", dishes_path, :class => "btn btn-primary" %>
