
<p style="color: green"><%= notice %></p>

<%= render @dish %>

<%= link_to "Back to dishes", dishes_path %>

<%if restaurant_signed_in? %>
  <%if current_restaurant.id == @dish.restaurant_id%>
    <div>
      <%= link_to "Edit this dish", edit_dish_path(@dish) %> 
      <%= button_to "Destroy this dish", @dish, method: :delete %>
    </div>
  <%end%>
<%end%>


<%if reviewer_signed_in? %>
  <div id="dishes">
    LISTA RECENSIONI:
    <% (Review.all).each do |review| %>
      <%if @dish.id == review.dish_id %>
        <%= render review %>
        <p> <%#= link_to "Show this dish", @dish %> </p> 
      <%end%>
    <% end %>
  </div>
  <%#SI PUO' METTERE SOLO UNA RECENSIONE PER PIATTO DEL RISTORANTE?, da controllare%>
  <%#l'if è sbagliato%>
    <% (Review.all).each do |review| %>
      <%if @dish.id == review.dish_id  && review.reviewer_id == current_reviewer.id%>
        <%#= link_to "LA TUA RECENSIONE", review %><br>
        LA TUA RECENSIONE: <%=render review%>
        <%#= link_to "LA TUA RECENSIONE", review %><br>
      <%elsif !(@dish.id == review.dish_id  && review.reviewer_id == current_reviewer.id)%>
        <%= link_to "CREA NUOVA RECENSIONE", new_review_path %><br>
      <%end%>
    <% end %>
    
<%end%>