<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica</title>

    <%= stylesheet_link_tag "modRistorante.css" %>
</head>
<body>

    <%= form_with(model: restaurant) do |form| %>
        <% if restaurant.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
        <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div id = "middle">
        <div id = "row_m1">
            <div id = "editable">
                <div id = "foto">
                    <div id = "image">
                        <% if current_restaurant.profile_picture != nil %>
                            <img src="<%= url_for(current_restaurant.profile_picture)%>" alt="PP" width="100" height="100">
                        <% end %>
                    </div>
                </div>
                <div id = "photo_picker">
                        <!--
                        <label id = "lbl_file_loader">Seleziona una foto</label>
                        </br>
                        <input type="file" class = "form-control-file">
                        -->
                        <%= form.file_field :profile_picture, direct_upload: false, accept:"image/*" %> 
                </div>
            </div>
            <div id = "user_desc_1">
                <div id = "username"><%= current_restaurant.username%></div>
                <%= form.text_field :description, :id => "description" %>
            </div>
            <div id = "user_desc_2">
                <div class = "form_labels">
                    <div id = "position">Indirizzo</div>
                    <div id = "website">Sito</div>
                    <div id = "phone_number">Telefono</div>
                </div>
                <div class = "form_fields">
                    <%= form.text_field :address %>
                    <%= form.text_field :website %>
                    <%= form.text_field :telephone_number %>
                </div>
            </div>
        </div>
        <div id = "row_m2">
            <div>
                <%= form.submit "Salva", :class => "btn btn-success"%>
                <%= link_to "Annulla", current_restaurant, :class => "btn btn-danger" %>
            </div>
        </div>
    </div>
</body>
</html>
<%end%>