<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= restaurant.username %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= restaurant.website %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= restaurant.description %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= restaurant.profile_picture %>
  </p>

  <p>
    <strong>Telephone number:</strong>
    <%= restaurant.telephone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

</div>
