<div id="<%= dom_id restaurant %>">

  UTENTE RISTORANTE<br>
  ID:<%= restaurant.id %><br>
  USERNAME:<%= restaurant.username %><br>
  NAME:<%= restaurant.name %><br>
  TEL:<%= restaurant.telephone_number%><br>
  ADDRESS:<%= restaurant.address%><br>
  EMAIL:<%= restaurant.email %><br>

  <%#https://github.com/zilverline/google-maps%>
  <%#AL MOMENTO DA ZERO_RESULT su indirizzi dei ristoranti, query nulle %>
  <%if restaurant.address != nil %>
    <%= place = Google::Maps.place(Google::Maps.places('Roma').first.place_id)%>
    <%#= place = Google::Maps.place(Google::Maps.places(restaurant.address).first.place_id)%>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&center=#{place.latitude},#{place.longitude}&key=AIzaSyCXBINbcHzq6sqrq3ku3ABFKFahO7ZpgiI", alt: "Map" %>
  <%end%>
  
</div>
