<div id="<%= dom_id restaurant %>">

  UTENTE RISTORANTE<br>
  ID:<%= restaurant.id %><br>
  USERNAME:<%= restaurant.username %><br>
  NAME:<%= restaurant.name %><br>
  TEL:<%= restaurant.telephone_number%><br>
  ADDRESS:<%= restaurant.address%><br>
  EMAIL:<%= restaurant.email %><br>
  <br>
  <% if restaurant.profile_picture.attached? %>
      <img src="<%= url_for(restaurant.profile_picture)%>" alt="PP" width="100" height="100">
  <% end %>

  <br><br>

  <%#https://github.com/zilverline/google-maps%>

  <%if restaurant.address.to_s != "" and Google::Maps.geocode(restaurant.address).to_s != "[]"%>
      <% place = Google::Maps.place(Google::Maps.places(restaurant.address).first.place_id)%>
      <%#= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&center=#{place.latitude},#{place.longitude}&key=AIzaSyCXBINbcHzq6sqrq3ku3ABFKFahO7ZpgiI", alt: "Map" %>
      <%#=https://developers.google.com/maps/documentation/embed/embedding-map%>
      <iframe
        width="400"
        height="300"
        style="border:0"
        loading="eager"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCXBINbcHzq6sqrq3ku3ABFKFahO7ZpgiI
        &q= <%=place%>
        &zoom=15
        &language=it">
      </iframe>

      <br>
      <%
      #https://stackoverflow.com/questions/21542530/rails-get-values-of-http-response
      #https://ruby-doc.org/stdlib-3.1.2/libdoc/net/http/rdoc/Net/HTTP.html
      #https://developers.google.com/maps/documentation/places/web-service/search-nearby#json
      require "uri"
      require "net/http"
      require 'json'
      string_query = "https://maps.googleapis.com/maps/api/place/details/json?place_id="
      string_query += Google::Maps.places(restaurant.name + "," + restaurant.address).first.place_id.to_s
      string_query += "&language=it&key=AIzaSyCXBINbcHzq6sqrq3ku3ABFKFahO7ZpgiI"
      
      #string_query2 = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=1500&type=restaurant&keyword=cruise&key=AIzaSyCXBINbcHzq6sqrq3ku3ABFKFahO7ZpgiI"
      url = URI(string_query)

      https = Net::HTTP.new(url.host, url.port)
      https.use_ssl = true

      request = Net::HTTP::Get.new(url)
      response = JSON.parse(https.request(request).body)
      %>
      
      <%#= response%>

      <%=
      #  response["result"]["reviews"][i]["author_name"]
      if response != nil and response["result"] != nil and 
        temp = ""
        #false, disabilitato temporaneamente
        if false and response["result"]["reviews"] != nil
          response["result"]["reviews"].each do |review|
            temp += review["author_name"]
            temp += " dice: "
            temp += review["text"]
            temp += ", "
          end
        end
        if response["result"]["website"] != nil
          temp += response["result"]["website"]
        end
        temp.chomp(", ")
        temp
      end  
      %>

      <!--<br>
      <%#= Google::Maps.places(restaurant.name + "," + restaurant.address).first.to_s %>
      <br>
      <%#= Google::Maps.places(restaurant.name + "," + restaurant.address).first.place_id.to_s %>
      <br>
      <%#= Google::Maps.places(restaurant.name + "," + restaurant.address).first.place_id.to_s %>-->
      
  <%end%>
  
</div>
