<div id="<%= dom_id restaurant %>">

  UTENTE RISTORANTE<br>
  ID:<%= restaurant.id %><br>
  USERNAME:<%= restaurant.username %><br>
  NAME:<%= restaurant.name %><br>
  TEL:<%= restaurant.telephone_number%><br>
  ADDRESS:<%= restaurant.address%><br>
  EMAIL:<%= restaurant.email %><br>
  
  
</div>
