<!-- tolto = da render in modo da poter pescare informazioni senza stamparle tutte,
       segue esempio username-->
  
<!--
<% render @restaurant %> 

  ADDRESS:<%= @restaurant.address %><br>
  <p>
  <% Dish.all.each do |dish| %>
    <%if dish.restaurant_id == @restaurant.id %>
       <%= render dish%>
       <p> <%= link_to "Show this dish", dish %> </p> 
    <%end%>

  <% end %>

  </p>

<div>
  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>
</div>
-->

<!--
<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
-->


<% render @restaurant %> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo</title>

    <%= stylesheet_link_tag "general_tags.css" %>
    <%= stylesheet_link_tag "ristorante.css" %>

</head>
<body>
    <div id = "middle">
      <%if restaurant_signed_in? %>
        <div id = "foto">
          <% if @restaurant.profile_picture.attached? %>
            <div><img src="<%= url_for(@restaurant.profile_picture)%>" alt="PP" width="100" height="100"></div>
          <%else%>
             <div><img src="" alt="PP" width="100" height="100"></div>
          <% end %>
          <div id = "pic_lbl">Foto profilo</div>
        </div>
        <div id = "infos">
          <div id = "user_desc_1">
            <div id = "username"><%= @restaurant.username %></div>
            <div id = "description">
              <% if(@restaurant.description == "") %>
                Descrizione mancante
                <!-- restituisce questa stringa al posto della descrizione nel caso in cui sia vuota -->
              <% else %>
                <%= @restaurant.description%>
              <% end %>
            </div>
          </div>
          <div id = "user_desc_2">
            <div id = "position"><%= @restaurant.address %></div>
            <%if @restaurant.website != nil%>
              <%if URI.parse(@restaurant.website).host.to_s != "" %>
                <div id = "website"><%= link_to  URI.parse(@restaurant.website).host, "http://#{URI.parse(@restaurant.website).host}", target: :_blank , rel: 'noopener noreferrer'%></div>
              <%else%>
                <div id = "website"><%= link_to  @restaurant.website, "http://#{@restaurant.website}", target: :_blank, rel: 'noopener noreferrer' %></div>
              <%end%>
            <%end%>
            <div id = "phone_number"><a href = "tel:<%= @restaurant.telephone_number %>"><%= @restaurant.telephone_number %></a></div>
            <div id = "mail_to"><a href="mailto:<%= @restaurant.email%>">Invia una mail</a></div>
          </div>
        </div>
        <div id = "modify">
          <%= button_to "Modifica profilo", edit_restaurant_path(@restaurant), method: :get, :class => "btn btn-success btn-responsive"%>
        </div>
      <%else%>
      <div id = "col_m1">
        <div id = "foto">
        <% if @restaurant.profile_picture.attached? %>
          <div><img src="<%= url_for(@restaurant.profile_picture)%>" alt="PP" width="250" height="250" id = "profile_pic"></div>
        <% end %>
        <div id = "pic_lbl">Foto profilo</div>
        </div>
      </div>
      <div id = "col_m2">
        <div id = "username"><%= @restaurant.username %></div>
        <div id = "description_mod">
          <% if(@restaurant.description == "") %>
            Descrizione mancante
            <!-- restituisce questa stringa al posto della descrizione nel caso in cui sia vuoto -->
          <% else %>
            <%= @restaurant.description%>
          <% end %>
          </div>
      </div>
      <% end %>
    </div>
    <div id = "dishes_and_other_infos">
      <div id = "col_d1">
      <% if restaurant_signed_in? %>
        <div id = "dishes_div_restaurant">
          <div id = "header_and_insertions">
            <div id = "header">I miei piatti: </div>
              <%= link_to "Nuovo piatto", new_dish_path, :id => "insert_dishes", :class => "btn btn-success btn-responsive" %>
          </div>
      <% else %>
        <div id = "dishes_div">
          <div id = "header">I piatti: </div>
      <%end%>
        <div id = "inserted_dishes">
          <% (Dish.all).each do |dish|%>
            <% if dish.restaurant_id == @restaurant.id %>
              <div class = "piattino">
              <%= link_to dish_path(dish) do %>
                <div class = "interno_piattino">
                  <div id = "foto_piatto" class="carousel carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% i = 0 %>
                        <% while dish.images[i] != nil%>
                          <% if (i == 0) %>
                              <div class="carousel-item active">
                          <% else %>
                              <div class="carousel-item">
                          <% end %>
                          <img src="<%= url_for(dish.images[i])%>" alt="foto_piatto" class="dish_pic">
                          <%i += 1%>
                        </div>
                        <%end%>
                        <!-- se il piatto non presenta immagini viene restituita immagine di default -->
                        <% if i == 0 %>
                        <%= image_tag("missing_dish.png", :class => "dish_pic")%>
                        <% end %>
                    </div>
                  </div>
                  <div class = "info_piatto">
                    <div class = "nome_piattino">Nome: <b><%= dish.name%></b></div>
                    <div class = "prezzo_piattino">Prezzo: <%= dish.price%></div>
                    <div class = "rating_piattino">Rating: <%= dish.avg_rating.round(2)%></div>
                  </div>
                  <div id = "mod_btns">
                    <% if reviewer_signed_in? %>
                      <%= link_to "Lascia recensione", new_review_path, :class => "btn btn-warning btn-responsive-dish" %>
                    <% elsif restaurant_signed_in? %>
                      <%= link_to "Modifica", edit_dish_path(dish), :class => "btn btn-success btn-responsive-dish" %>
                      <%= button_to "Rimuovi", dish, method: :delete, :class => "btn btn-danger btn-responsive-dish" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
        <div id = "col_d2">
          <div id = "map_addresses">
            <div id = "map">
              <%if @restaurant.address.to_s != "" and Google::Maps.geocode(@restaurant.address).to_s != "[]"%>
                  <% place = Google::Maps.place(Google::Maps.places(@restaurant.address).first.place_id)%>
                  <iframe
                    width="600"
                    height="210"
                    style="border:0"
                    loading="eager"
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCXBINbcHzq6sqrq3ku3ABFKFahO7ZpgiI
                    &q= <%=place%>
                    &zoom=15
                    &language=it">
                  </iframe>
                <% else %>
                  <%place = Google::Maps.place(Google::Maps.places("Italy").first.place_id)%>
                  <iframe
                    width="600"
                    height="245"
                    style="border:0"
                    loading="eager"
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCXBINbcHzq6sqrq3ku3ABFKFahO7ZpgiI
                    &q= <%=place%>
                    &zoom=15
                    &language=it">
                  </iframe>
                
              <%end%>
            </div>
            <div id = "address_info">
            <div id = "position"><%= @restaurant.address %></div>
            <%if @restaurant.website != nil%>
              <%if URI.parse(@restaurant.website).host.to_s != "" %>
                <div id = "website"><%= link_to  URI.parse(@restaurant.website).host, "http://#{URI.parse(@restaurant.website).host}", target: :_blank , rel: 'noopener noreferrer'%></div>
              <%else%>
                <div id = "website"><%= link_to  @restaurant.website, "http://#{@restaurant.website}", target: :_blank, rel: 'noopener noreferrer' %></div>
              <%end%>
            <%end%>
            <div id = "phone_number"><a href = "tel:<%= @restaurant.telephone_number %>"><%= @restaurant.telephone_number %></a></div>
            <div id = "mail_to"><a href="mailto:<%= @restaurant.email%>">Invia una mail</a></div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </body>
</html>

