<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

  <p>
  <% Dish.all.each do |dish| %>
    <%if dish.restaurant_id == @restaurant.id %>
       <%= render dish%>
       <p> <%= link_to "Show this dish", dish %> </p> 
    <%end%>

  <% end %>

  </p>



<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
