<% render @restaurant %> 

  <!-- tolto = da render in modo da poter pescare informazioni senza stamparle tutte,
       segue esempio username-->
  USERNAME:<%= @restaurant.username %><br>
  ADDRESS:<%= @restaurant.address %><br>
  <p>
  <% Dish.all.each do |dish| %>
    <%if dish.restaurant_id == @restaurant.id %>
       <%= render dish%>
       <p> <%= link_to "Show this dish", dish %> </p> 
    <%end%>

  <% end %>

  </p>

<div>
  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>
</div>

<!--
<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
-->