<!-- tolto = da render in modo da poter pescare informazioni senza stamparle tutte,
       segue esempio username-->
  
<!--
<% render @restaurant %> 

  ADDRESS:<%= @restaurant.address %><br>
  <p>
  <% Dish.all.each do |dish| %>
    <%if dish.restaurant_id == @restaurant.id %>
       <%= render dish%>
       <p> <%= link_to "Show this dish", dish %> </p> 
    <%end%>

  <% end %>

  </p>

<div>
  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>
</div>
-->

<!--
<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
-->


<% render @restaurant %> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo</title>

    <%= stylesheet_link_tag "general_tags.css" %>
    <%= stylesheet_link_tag "restaurant.css" %>

</head>
<body>
    <div id = "middle">      
      <div id = "foto">
        <%= image_tag @restaurant.profile_picture, :class => "foto", :alt => "image of pizza"%>
      </div>
        <div id = "user_desc_1">
            <div id = "username"><%= @restaurant.username %></div>
            <div id = "description"><%= @restaurant.description %></div>
        </div>
        <div id = "user_desc_2">
            <div id = "position"><%= @restaurant.address %></div>
            <div id = "website"><%= @restaurant.website %></div>
            <div id = "phone_number"><%= @restaurant.telephone_number %></div>
        </div>
        <div id = "modify">
            <%= button_to "Modifica profilo", edit_restaurant_path(@restaurant), method: :get, :class => "btn btn-success btn-responsive"%>
        </div>
    </div>
    <div id = "dishes_div">
            <div id = "header_and_insertions">
                <div id = "header">I miei piatti: </div>
                <%= link_to "Nuovo piatto", new_dish_path, :id => "insert_dishes", :class => "btn btn-success" %>
            </div>
            <div id = "inserted_dishes">
                <% (Dish.all).each do |dish|%>
                <% if dish.restaurant_id == current_restaurant.id %>
                <div class="card">
                    <img class="card-img-top" src="./images/tortellini.jpg" alt="immagine piatto">
                    <!-- tag img da modificare con tag ruby per ottenere immagine del piatto -->
                    <div class="card-body">
                    <h5 class="card-title">Nome: <%= dish.name %></h5>
                    <div class="card-text">Prezzo: <%= dish.price %></div>
                    <div class="card-text">Informazioni: TODO <!-- Vedere descrizione, forse da implementare nel db --></div>
                    <div id = "mod_dishes_btns">
                      <%= link_to "Modifica", edit_dish_path(dish), :class => "btn btn-success" %>
                      <%= button_to "Rimuovi", dish, method: :delete, :class => "btn btn-danger" %>
                    </div>
                    </div>
                </div>
                <%end%>
                <%end%>
        </div>
    </div>
</html>
