<!-- tolto = da render in modo da poter pescare informazioni senza stamparle tutte,
       segue esempio username-->
  
<!--
<% render @restaurant %> 

  ADDRESS:<%= @restaurant.address %><br>
  <p>
  <% Dish.all.each do |dish| %>
    <%if dish.restaurant_id == @restaurant.id %>
       <%= render dish%>
       <p> <%= link_to "Show this dish", dish %> </p> 
    <%end%>

  <% end %>

  </p>

<div>
  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>
</div>
-->

<!--
<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
-->


<% render @restaurant %> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo</title>

    <%= stylesheet_link_tag "general_tags.css" %>
    <%= stylesheet_link_tag "restaurant.css" %>

</head>
<body>
    <div id = "middle">
      <%if restaurant_signed_in? %>
        <div id = "foto">
          IMMAGINE DI PROFILO
          <% if current_restaurant.profile_picture.attached? %>
              <img src="<%= url_for(@restaurant.profile_picture)%>" alt="PP" width="100" height="100">
          <% end %>
        </div>
        <div id = "user_desc_1">
          <div id = "username"><%= @restaurant.username %></div>
          <div id = "description">
            <% if(@restaurant.description == "") %>
              Descrizione mancante
              <!-- restituisce questa stringa al posto della descrizione nel caso in cui sia vuot -->
            <% else %>
              <%= @restaurant.description%>
            <% end %>
          </div>
        </div>
        <div id = "user_desc_2">
          <div id = "position"><%= @restaurant.address %></div>
          <div id = "website"><%= @restaurant.website %></div>
          <div id = "phone_number"><%= @restaurant.telephone_number %></div>
        </div>
        <div id = "modify">
          <%= button_to "Modifica profilo", edit_restaurant_path(@restaurant), method: :get, :class => "btn btn-success btn-responsive"%>
        </div>
      <%else%>
      <div id = "col_m1">
        <div id = "foto">
        IMMAGINE DI PROFILO
        <img src="<%= url_for(@restaurant.profile_picture)%>" alt="PP" width="100" height="100">
        </div>
      </div>
      <div id = "col_m2">
        <div id = "username"><%= @restaurant.username %></div>
        <div id = "description">
          <% if(@restaurant.description == "") %>
            Descrizione mancante
            <!-- restituisce questa stringa al posto della descrizione nel caso in cui sia vuoto -->
          <% else %>
            <%= @restaurant.description%>
          <% end %>
          </div>
      </div>
      <% end %>
    </div>
    <div id = "dishes_and_other_infos">
      <div id = "col_d1">
      <% if restaurant_signed_in? %>
        <div id = "dishes_div_restaurant">
          <div id = "header_and_insertions">
            <div id = "header">I miei piatti: </div>
              <%= link_to "Nuovo piatto", new_dish_path, :id => "insert_dishes", :class => "btn btn-success btn-responsive" %>
          </div>
      <% else %>
        <div id = "dishes_div">
          <div id = "header">I piatti: </div>
      <%end%>
        <div id = "inserted_dishes">
          <% (Dish.all).each do |dish|%>
            <% if dish.restaurant_id == @restaurant.id %>
              <div class = "piattino">
                <div class = "interno_piattino">
                  <div class = "foto_piatto">
                    <!-- <img src="<%= url_for(dish.images[0])%>" alt="foto_piatto" class="img-fluid"> -->
                  </div>
                  <div class = "nome_piattino">Nome:<br><%= dish.name%></div>
                  <div class = "prezzo_piattino">Prezzo: <%= dish.price%></div>
                  <div class = "rating_piattino">Rating: <%= dish.avg_rating.round(2)%></div>
                  <div id = "mod_btns">
                    <%if reviewer_signed_in? %>
                      <%= link_to "Lascia recensione", new_review_path, :class => "btn btn-warning btn-responsive" %>
                    <%elsif restaurant_signed_in? %>
                      <%= link_to "Modifica", edit_dish_path(dish), :class => "btn btn-success btn-responsive" %>
                      <%= button_to "Rimuovi", dish, method: :delete, :class => "btn btn-danger btn-responsive" %>
                    <%end%>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if restaurant_signed_in? %>
      </div>
      <% else %>
        <div id = "col_d2">
          <div id = "map_addresses">
            <div id = "map"> MAPPA - TODO <!-- vedere api di gmaps  --></div>
            <div id = "position"><%= @restaurant.address %></div>
            <div id = "website"><%= @restaurant.website %></div>
            <div id = "phone_number"><%= @restaurant.telephone_number %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  </body>
</html>
