

<%= form_with(model: review) do |form| %>


  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id = "middle">
        <div id = "midtop">
            <div id = "col1">
                <div id = "foto">
                    <div id = "image">
                       <%= form.file_field :images, multiple: true, direct_upload: false, accept:"image/*" %>
                    </div>
                    <div id = "image_lbl">Inserisci una foto</div>
                </div>
            </div>
            <div id = "col2">
                <div id = "ratings">
                    <div class = "rating" id = "gusto">
                        <div id = "gusto_lbl">Gusto</div>
                        <div class = "rtg" id = "gusto_rtg">
                            <div id = "gusto_select">
                            <%= form.select :rating1, ["1", "2", "3", "4", "5"], :name => "numbers", autofocus: true, :onchange => "return modificaValore1(this);" %>
                            </div>
                            <div class = "pb" id = "gusto_pb">
                                <div class="progress">
                                <!--TODO: Cambiare il rating fisso della pg in rating1 variabile-->
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" id = "pg1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "rating" id = "impiattamento">
                        <div id = "impiattamento_lbl">Impiattamento</div>
                        <div class = "rtg" id = "impiattamento_rtg">
                            <div id = "impiattamento_select">
                            <%= form.select :rating2, ["1", "2", "3", "4", "5"], :name => "numbers", autofocus: true, :onchange => "return modificaValore2(this);" %>                                
                            </div>
                            <div class = "pb" id = "impiattamento_pb">
                                <div class="progress">
                                    <!--TODO: Cambiare il rating fisso della pg in rating2 variabile-->
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" id = "pg2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "rating" id = "originalità">
                        <div id = "originalità_lbl">Originalità</div>
                        <div  class = "rtg" id = "originalità_rtg">
                            <div id = "originalità_select">
                                <%= form.select :rating3, ["1", "2", "3", "4", "5"], :name => "numbers", autofocus: true, :onchange => "return modificaValore3(this);" %>
                            </div>
                            <div class = "pb" id = "impiattamento_pb">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" id = "pg3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id = "description">
                    <%= form.label :description, "Descrizione ", style: "display: block", :id => "descr_id" %>
                    <%= form.text_area :description, :class => "form-control", :placeholder => "Inserisci descrizione", :rows =>"3" %>
                </div>
                
            </div>
        </div>
        <div id = "midbottom">

            <%= form.hidden_field :dish_id, value: session[:save_dish] %>
            <%= form.hidden_field :reviewer_id, value: current_reviewer.id %>

            <div id = "confirm">
                    <%= form.submit "Conferma", :class => "btn btn-success", :id => "confirm_btn"%>
            </div>
            <div id = "cancel">
            <% if @review.id != nil%>
                <%= link_to "Annulla modifiche", review_path(@review), :class => "btn btn-danger", :id => "cancel_btn" %>
            <%else%>
                <%#= link_to "Annulla creazione", dish_path(session[:save_dish]), :class => "btn btn-danger", :id => "cancel_btn"  %>
            <%end%>
            </div>
        </div>
    </div>

<% end %>



<%#=session[:save_dish]%>


<%= stylesheet_link_tag "nuovaRecensione.css" %>

<script>
        document.getElementById("review_rating1").setAttribute("onchange", "return modificaValore1(this);");
        document.getElementById("review_rating2").setAttribute("onchange", "return modificaValore2(this);");
        document.getElementById("review_rating3").setAttribute("onchange", "return modificaValore3(this);");

        function modificaValore1(select){
            var selezionato = select.options[select.selectedIndex].value;
            document.getElementById("pg1").setAttribute("style", "width: "+  String(Number(selezionato)*20)+"%");
        }
        function modificaValore2(select){
            var selezionato = select.options[select.selectedIndex].value;
            document.getElementById("pg2").setAttribute("style", "width: "+  String(Number(selezionato)*20)+"%");
        }
        function modificaValore3(select){
            var selezionato = select.options[select.selectedIndex].value;
            document.getElementById("pg3").setAttribute("style", "width: "+  String(Number(selezionato)*20)+"%");
        }
</script>