<div id="<%= dom_id review %>">

    RECENSIONE<br>
    ID:<%= review.id %><br>
    RATING1:<%= review.rating1%><br>
    RATING2:<%= review.rating2%><br>
    RATING3:<%= review.rating3%><br>
    DESCRIPTION:<%= review.description%><br>
    <%#imgs, da implementare bene...%>
    <%#INFO PER DEBUG%>
    
</div>
