<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
<<<<<<< HEAD
  <%= link_to "Edit this review TODO:", edit_review_path(@review) %> TODO:
  <%= link_to "Back to reviews TODO:", reviews_path %>

  
=======
  <%= link_to "Back to reviews", reviews_path %> |
  <%= link_to "Back to dish", dish_path(@review.dish_id) %> |

  <%#RICONTROLLA QUESTI IF%>
  <%#SE COMMENTATI PUOI ELIMINARE OGNI RECENSIONE DELL'UTENTE%>
  <%if reviewer_signed_in?%>
    <%if @review.reviewer_id == current_reviewer.id%>
      <%= link_to "Edit this review", edit_review_path(@review) %> |
      <%= button_to "Destroy this review", @review, method: :delete %>
    <%end%>
  <%end%>
>>>>>>> struttura_rails
</div>


<% if current_reviewer.id == Reviewer.find(@review.reviewer_id).id %>
  <div id =  "destroy_btn">
    <%= button_to "Destroy this review", @review, method: :delete, :class => "btn btn-danger btn-responsive" %>
  </div>
<%end%>