<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  <%= link_to "Edit this review TODO:", edit_review_path(@review) %> TODO:
  <%= link_to "Back to reviews TODO:", reviews_path %>

  <%= button_to "Destroy this review", @review, method: :delete %>
</div>
