<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%if session[:report_type] == "dish"%>
    <h5> Segnalazione piatto di <%= Dish.find(session[:report_id]).restaurant.name %> </h5>
  <% else %>
    <h5> Segnalazione recensione di <%= Reviewer.find(Review.find(session[:report_id]).reviewer_id).username %> </h5>
  <% end %>

  <div>
    <%= form.label :check_box, style: "display: block" %>
    <%= form.number_field :check_box %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <%= form.hidden_field :targetId, value: session[:report_id] %>
  <%= form.hidden_field :targerType, value: session[:report_type].to_s %>
  <%=session[:report_id]%>
  <%=session[:report_type]%>

  <div>
    <%= form.submit %>
  </div>
<% end %>
