<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%if params[:report_type].to_s == "dish"%>
    <%= stylesheet_link_tag "segnala.css" %>

    <div id = "middle">
      
      <%= form.hidden_field :targetId, value:  params[:report_id].to_s %>
      <%= form.hidden_field :targetType, value:  params[:report_type].to_s %>

       
        <div id = "nome">
          Segnalazione piatto di <%= Dish.find(params[:report_id].to_s).restaurant.name %>
        </div>
        <div id = "motivazioni">
          <div id = "motivazioni_lbl">Motivazioni:</div>
          <div id = "motivazioni1">
            <div class="form-check">
              <%= form.check_box :checkbox1, :class => "form-check-input", :type => "checkbox"%>
              <label class="form-check-label" for="flexCheckDefault">
                Prezzo non corrisponde
                </label>
              </div>
            </div>
            <div id = "motivazioni2">
              <div class="form-check">
                <%= form.check_box :checkbox2, :class => "form-check-input", :type => "checkbox"%>
                <label class="form-check-label" for="flexCheckDefault">
                  Ingredienti diversi
                </label>
              </div>
            </div>
            <div id = "motivazioni3">
              <div class="form-check">
                <%= form.check_box :checkbox3, :class => "form-check-input", :type => "checkbox"%>
                <label class="form-check-label" for="flexCheckDefault">
                  Non più presente
                </label>
              </div>
            </div>
            <div id = "motivazioni4">
              <div class="form-check">
                <%= form.check_box :checkbox4, :class => "form-check-input", :type => "checkbox"%>
                <label class="form-check-label" for="flexCheckDefault">
                  Altro:
                </label>
              </div>
            </div>
          </div>
          <div id = "descrizione">
              <div>
                <%= form.label :description, "Descrizione"%>
              </div>
              <div id = "text_div">
                 <%= form.text_area :description, :class => "form-control", :placeholder => "Inserisci descrizione", :rows => "3"%>
              </div>
          </div>
          <div id = "segnala_div">
              <div>  
                <%= form.submit "Segnala", :class => "btn btn-danger", :id => "segnala_lbl"%>
              </div>
          </div>
      </div>

  <% else %>
  
  <%= stylesheet_link_tag "segnala.css" %>
  <!-- Necessarie al passaggio di valori tramite form: non cancellare-->
  <%= form.hidden_field :targetId, value: params[:report_id].to_i %>
  <%= form.hidden_field :targetType, value: params[:report_type].to_s %>

  <div id = "middle">
        <div id = "nome">
            Segnala la recensione di <%= Reviewer.find(Review.find(params[:report_id]).reviewer_id).username %>
        </div>
        <div id = "motivazioni">
            <div id = "motivazioni_lbl">Motivazioni:</div>
            <div id = "motivazioni1">
                <div class="form-check">
            
                    <%= form.check_box :checkbox1, :class => "form-check-input", :type => "checkbox"%>
                    <label class="form-check-label" for="flexCheckDefault">
                      Contenuti Offensivi
                    </label>
                </div>
            </div>
            <div id = "motivazioni2">
                <div class="form-check">
                    <%= form.check_box :checkbox2, :class => "form-check-input", :type => "checkbox"%>
                    <label class="form-check-label" for="flexCheckDefault">
                      Non pertinente
                    </label>
                </div>
            </div>
            <div id = "motivazioni3">
                <div class="form-check">
                    <%= form.check_box :checkbox3, :class => "form-check-input", :type => "checkbox"%>
                    <label class="form-check-label" for="flexCheckDefault">
                      Informazioni false
                    </label>
                </div>
            </div>
            <div id = "motivazioni4">
                <div class="form-check">
                    <%= form.check_box :checkbox4, :class => "form-check-input", :type => "checkbox"%>
                    <label class="form-check-label" for="flexCheckDefault">
                      Altro:
                    </label>
                </div>
            </div>
        </div>
        <div id = "descrizione">
            <div>
              <%= form.label :description, "Descrizione"%>
            </div>
            <div id = "text_div">
              <%= form.text_area :description, :class => "form-control", :placeholder => "Inserisci descrizione", :rows => "3"%>
            </div>
        </div>
        <div id = "segnala_div">
            <div>  
              <%= form.submit "Segnala", :class => "btn btn-danger", :id => "segnala_lbl"%>
            </div>
        </div>
    </div>




  <% end %>


<% end %>
