<div id="<%= dom_id report %>">
  <p>
    REPORT-ID: <%= report.id %> <br>
    REPORT-targetType: <%= report.targetType %> <br>
    REPORT-targetId <%= report.targetId %> <br>
    <strong>Check box: </strong> <br>
    report1: <%= report.checkbox1 %> <br>
    report2: <%= report.checkbox2 %> <br>
    report3: <%= report.checkbox3 %> <br>
    report4: <%= report.checkbox4 %> <br>
  </p>

  <p>
    <strong>Description:</strong>
    <%= report.description %>
  </p>


</div>
