<div id="<%= dom_id report %>">
  <p>
    <strong>Check box:</strong>
    report1<%= report.checkbox1 %>
    report2<%= report.checkbox2 %>
    report3<%= report.checkbox3 %>
    report4<%= report.checkbox4 %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= report.description %>
  </p>


</div>
