<!DOCTYPE html>
<html>
  <head>
    <title>TasteAdvisor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "navbar.css" %>  
  </head>

  <body>
    <% if (reviewer_signed_in? || restaurant_signed_in?) %>
         <!-- TODO: -->
         <div id = "top">
          <div id = "row1">
              <div id = "logo">
                  <img src = "TODO:" alt="logo TA">
              </div>
              <div id = "label">
                  TASTEADVISOR
              </div>

              <div id = "log_buttons">
                <div id = "profile_btn">
                <% if (restaurant_signed_in?) %>
                    <%= button_to "Profilo", current_restaurant, method: :get, :class => "btn btn-success btn-responsive" %>
                <% elsif (reviewer_signed_in?) %>
                    <%= button_to "Profilo", current_reviewer, method: :get, :class => "btn btn-success btn-responsive", :id => "profile_btn" %>
                <%end %>   
                </div>

                <div id = "logout_btn">
                <% if (restaurant_signed_in?) %>
                    <%= button_to "Logout", destroy_restaurant_session_path, method: :delete, :class => "btn btn-success btn-responsive", :id => "logout_btn" %>
                <% elsif (reviewer_signed_in?) %>
                    <%= button_to "Logout", destroy_reviewer_session_path, method: :delete, :class => "btn btn-success btn-responsive", :id => "logout_btn" %>
                <%end %>
                </div>
              </div>

          </div>
          <div id = "row2">
              <div id = "navbar">
                  <nav class = "navbar navbar-dark">
                      <div class = "nav nav-pills options-ul">
                          <div class = "nav-item">
                              <a id = "Antipasti" class = "nav-link" aria-current="page" href = "./TODO">
                                  Antipasti
                              </a>
                          </div>
                          <div class = "nav-item">
                              <a id = "Primi" class = "nav-link" aria-current="page" href = "./TODO">
                                  Primi
                              </a>
                          </div>
                          <div class = "nav-item">
                              <a id = "Secondi" class = "nav-link" aria-current="page" href = "./TODO">
                                  Secondi
                              </a>
                          </div>
                          <div class = "nav-item">
                              <a id = "Dolci" class = "nav-link" aria-current="page" href = "./TODO">
                                  Dolci
                              </a>
                          </div>
                      </div>
                  </nav>
              </div>
            </div>
          </div>
  <% else %>
        <div id = "top">
          <div id = "row1">
              <div id = "logo">
                  <img src = "TODO:" alt="logo TA">
              </div>
              <div id = "label">
                  TASTEADVISOR
              </div>

              <div id = "log_buttons">
                <div class="dropdown" id = "signin_btn">
                    <button class="btn btn-success dropdown-toggle btn-responsive" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sign in
                    </button>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Recensore", new_reviewer_session_path, :class => "dropdown-item" %></li>
                        <li><%= link_to "Ristoratore", new_restaurant_session_path, :class => "dropdown-item" %></li>
                    </ul>
                </div>

                <div class="dropdown" id = "signup_btn">
                    <button class="btn btn-success dropdown-toggle btn-responsive" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sign up
                    </button>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Recensore", new_reviewer_registration_path, :class => "dropdown-item" %></li>
                        <li><%= link_to "Ristoratore", new_restaurant_registration_path, :class => "dropdown-item" %></li>
                    </ul>
                </div>
              </div>
          </div>
          <div id = "row2">
              <div id = "navbar">
                  <nav class = "navbar navbar-dark">
                      <div class = "nav nav-pills options-ul">
                          <div class = "nav-item">
                              <a id = "Antipasti" class = "nav-link" aria-current="page" href = "./TODO">
                                  Antipasti
                              </a>
                          </div>
                          <div class = "nav-item">
                              <a id = "Primi" class = "nav-link" aria-current="page" href = "./TODO">
                                  Primi
                              </a>
                          </div>
                          <div class = "nav-item">
                              <a id = "Secondi" class = "nav-link" aria-current="page" href = "./TODO">
                                  Secondi
                              </a>
                          </div>
                          <div class = "nav-item">
                              <a id = "Dolci" class = "nav-link" aria-current="page" href = "./TODO">
                                  Dolci
                              </a>
                          </div>
                      </div>
                  </nav>
              </div>
          </div>
    </div>
        <% end %>

        <%= yield %>

    <div id = "bottom">
        <div id = "contacts">
            <div id = "contatto1">CONTATTO1</div>
            <div id = "contatto2">CONTATTO2</div>
            <div id = "contatto3">CONTATTO3</div>
        </div>
    </div>

  </body>
</html>
