<!DOCTYPE html>
<html>
  <head>
    <title> TasteAdvisor </title>
    <%= favicon_link_tag 'favicon-32x32-logo_TA.png' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if @review != nil && @review.reviewer_id != nil%>
        <meta property="og:url"           content="https://tasteadvisor.herokuapp.com/reviews/<%= @review.id%>" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Recensione di <%= Reviewer.find(@review.reviewer_id).username%>" />
        <meta property="og:description"   content="<%= @review.description %>" />
        <meta property="og:image"         content="<%if (@review.images) != nil%>
                                                        <%= url_for(@review.images[0])%>
                                                    <%end%>"/>
    <%end%>
    
    <% if @dish != nil%>
        <meta property="og:url"           content="https://tasteadvisor.herokuapp.com/dishes/<%= @dish.id%>" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="<%= @dish.name%>" />
        <meta property="og:description"   content="<%= @dish.description %>" />
        <meta property="og:image"         content="<%if (@dish.images[0] != nil)%>
                                                        <%= url_for(@dish.images[0])%>
                                                    <%end%>"/>
    <%end%>
    
    <% if @review != nil || @dish != nil%>
        <meta name="turbo-visit-control" content="reload"> 
    <% end %>    

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "navbar.css" %>
    <%= stylesheet_link_tag "general_tags.css" %>  
  </head>

  <body>
  
    <% if (reviewer_signed_in? || restaurant_signed_in?) %>
         <div id = "top">
          <div id = "row1">
              <div id = "logo">
                  <a href="/" class = "link_homepage"><%= image_tag("logo_TA.png", size: "40x40", alt: "logo TA")%> </a>
              </div>
              <div id = "label">
                  <a href="/" class = "link_homepage">TASTEADVISOR</a>
              </div>

              <div id = "log_buttons">
                <div>
                <% if (restaurant_signed_in?) %>
                    <%= button_to "Profilo", current_restaurant, method: :get, :class => "btn btn-success btn-responsive" %>
                <% elsif (reviewer_signed_in?) %>
                    <%= button_to "Profilo", current_reviewer, method: :get, :class => "btn btn-success btn-responsive" %>
                <%end %>   
                </div>

                <div id = "logout_btn">
                <% if (restaurant_signed_in?) %>
                    <%= button_to "Logout", destroy_restaurant_session_path, method: :delete, :class => "btn btn-success btn-responsive" %>
                <% elsif (reviewer_signed_in?) %>
                    <%= button_to "Logout", destroy_reviewer_session_path, method: :delete, :class => "btn btn-success btn-responsive" %>
                <%end %>
                </div>
              </div>

          </div>
          <div id = "row2">
              <div id = "navbar">
                  <nav class = "navbar navbar-dark">
                      <div class = "nav nav-pills options-ul">

                            <%= form_with url: "/search_dish", method: :get do |form| %>
                                <%= form.hidden_field :category, value: "0" %>
                                <%= form.submit "Antipasti", :class => "btn btn-link nav_links" %><br>
                            <% end %>
                            
                            <%= form_with url: "/search_dish", method: :get do |form| %>
                                <%= form.hidden_field :category, value: "1" %>
                                <%= form.submit "Primi", :class => "btn btn-link nav_links"  %><br>
                            <% end %>

                            <%= form_with url: "/search_dish", method: :get do |form| %>
                                <%= form.hidden_field :category, value: "2" %>
                                <%= form.submit "Secondi", :class => "btn btn-link nav_links"  %><br>
                            <% end %>

                            <%= form_with url: "/search_dish", method: :get do |form| %>
                                <%= form.hidden_field :category, value: "3" %>
                                <%= form.submit "Dolci", :class => "btn btn-link nav_links"  %><br>
                            <% end %>

                      </div>
                  </nav>
              </div>
            </div>
          </div>
  <% else %>
        <div id = "top">
          <div id = "row1">
              <div id = "logo">
                  <a href="/" class = "link_homepage"><%= image_tag("logo_TA.png", size: "40x40", alt: "logo TA")%> </a>
              </div>
              <div id = "label">
                  <a href="/" class = "link_homepage">TASTEADVISOR</a>
              </div>

              <div id = "log_buttons">
                <div class="dropdown" id = "signin_btn">
                    <button class="btn btn-success dropdown-toggle btn-responsive" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sign in
                    </button>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Recensore", new_reviewer_session_path, :class => "dropdown-item", :id => "reviewer_signin" %></li>
                        <li><%= link_to "Ristoratore", new_restaurant_session_path, :class => "dropdown-item", :id => "restaurant_signin" %></li>
                    </ul>
                </div>

                <div class="dropdown" id = "signup_btn">
                    <button class="btn btn-success dropdown-toggle btn-responsive" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sign up
                    </button>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Recensore", new_reviewer_registration_path, :class => "dropdown-item", :id => "reviewer_signup"  %></li>
                        <li><%= link_to "Ristoratore", new_restaurant_registration_path, :class => "dropdown-item" %></li>
                    </ul>
                </div>
              </div>
          </div>
          <div id = "row2">
              <div id = "navbar">
                  <nav class = "navbar navbar-dark">
                      <div class = "nav nav-pills options-ul">

                            <%= form_with url: "/search_dish", method: :get do |form| %>
                                <%= form.hidden_field :category, value: "0" %>
                                <%= form.submit "Antipasti", :class => "btn btn-link nav_links" %><br>
                            <% end %>
                            
                            <%= form_with url: "/search_dish", method: :get do |form| %>
                                <%= form.hidden_field :category, value: "1" %>
                                <%= form.submit "Primi", :class => "btn btn-link nav_links"  %><br>
                            <% end %>

                            <%= form_with url: "/search_dish", method: :get do |form| %>
                                <%= form.hidden_field :category, value: "2" %>
                                <%= form.submit "Secondi", :class => "btn btn-link nav_links"  %><br>
                            <% end %>

                            <%= form_with url: "/search_dish", method: :get do |form| %>
                                <%= form.hidden_field :category, value: "3" %>
                                <%= form.submit "Dolci", :class => "btn btn-link nav_links"  %><br>
                            <% end %>

                      </div>
                  </nav>
              </div>
          </div>
    </div>
        <% end %>
        
        <!--Condizionali così i div non compaiono se non richiesti-->
        <%if alert %>
            <div class = "alert_div"><%= alert %></div>
        <%end%>
        <%if notice %>
            <div class = "notice_div"><%= notice%></div>
        <%end%>
        <%= yield %>

    <div id = "bottom">
        <div id = "contacts">
            <div id = "contatto1">Tel: +39 0123456789</div>
            <div id = "contatto2">Mail: info@tasteadvisor.com</div>
            <div id = "contatto3">Facebook: TasteAdvisor</div>
        </div>
    </div>

  </body>
</html>